.banner{
    margin-top: 20px;
    background-color: #b92184;
}

.banner-picture{
   margin: 10px;
}

.banner-title{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-top: 40px;
    color: whitesmoke;
}

.banner-title-col{
    padding-top: 20px;
}
